<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @heroku_news.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @heroku_news.description %>
</p>

<%= link_to 'Edit', edit_heroku_news_path(@heroku_news) %> |
<%= link_to 'Back', heroku_news_path %>
